.zapp-button
{
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 100%;
}

.zapp-buy-popup,
#zapp-popup
{
    position: absolute;
    z-index: 9999;
    /*box-shadow: 1px 1px 1px rgba(0,0,0,0.5);*/
    /*background-color: #fff;*/
    display: block;
    top: 0px;
    left: 0px;
    /*overflow: hidden;*/
    /* left: 0; */
    border-color: #FF6E00;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

#zapp-popup .zapp-arrow
{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50px;
    bottom: 0px !important;
    text-indent: -9999px;
    background-color: white;
    /* border-radius: 15px; */
    border: 3px solid #FF6E00;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)";
    /* z-index: -1; */
    
}


#zapp-popup iframe
{   
    height:440px!important;
    overflow: hidden;
    background-color: white;
    border: 3px solid #FF6E00;
    /*border-radius: 10px;*/
    left: -3px;
    top: -3px;
    width:700px!important;
    position: relative;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto
}

#zapp-popup.dark iframe
{
    border-color: #FF6E00;
    border-radius:10px; width:345px!important; height:320px!important
}

#zapp-popup.dark .zapp-arrow
{
    border-color: #FF6E00;
    /* background-color: black; */
    background-color: white;
    left: 88% !important;
    border-radius:5px;
}

#zapp-popup.mobile .zapp-arrow
{
    display: none;
}

th{
    width: 120px;
    font-weight: bold;
}

.zapp-popup-wrapper iframe
{
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    margin: auto !important;
    position: absolute !important;
    padding: 0 !important;
}

.zapp-popup-wrapper {
    position: fixed !important;
    
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
    z-index: 100;
    border-radius: 0 !important;
    border: none !important;
}

.zapp-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
    z-index: 30;
}

.zapp-popup.zapp-popup-large {
    width: 480px;
    height: 240px;
    margin: -120px -240px;
}

@media (max-width: 480px) {
    .zapp-popup-wrapper .zapp-popup{
        width: 90%;
        height: 240px !important;
        margin: -120px 2%;
        left: 0;
        padding: 3%;
    }    
}

@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#zapp-popup iframe
	{   
	    height:500px !important;
	    overflow: hidden;
	    background-color: transparent;
	    border: 0px;
	    border-radius: 0px !important;
	    margin: auto !important;
	    width: 80% !important;
	    position: relative;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto;
	     left: -3px !important;
	    top: auto !important;
	    bottom: auto !important;
	    right: auto !important;
	    position: relative !important;
	    padding: 0 !important;
	}  
}



/* @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px),
only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px)  {
    #zapp-popup iframe
	{   
	    height:500px !important;
	    overflow: hidden;
	     background-color: transparent;
	    border: 0px;
	    border-radius: 0px !important;
	    margin: auto !important;
	    width:90%!important;
	    position: relative;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto;
	     left: 4px !important;
	    top: auto !important;
	    bottom: auto !important;
	    right: auto !important;
	    position: relative !important;
	    padding: 0 !important;
	}    
} */

 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    #zapp-popup iframe
	{   
	    height:500px !important;
	    overflow: hidden;
	     background-color: transparent;
	    border: 0px;
	    border-radius: 0px !important;
	    margin: auto !important;
	    width:90%!important;
	    position: relative;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto;
	     left: 4px !important;
	    top: auto !important;
	    bottom: auto !important;
	    right: auto !important;
	    position: relative !important;
	    padding: 0 !important;
	}    
}

@media  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
	#zapp-popup iframe
	{   
	    height:500px !important;
	    overflow: hidden;
	    background-color: transparent;
	    border: 0px;
	    border-radius: 0px !important;
	    margin: auto !important;
	    width: 80% !important;
	    position: relative;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto;
	     left: -3px !important;
	    top: auto !important;
	    bottom: auto !important;
	    right: auto !important;
	    position: relative !important;
	    padding: 0 !important;
	}  
}

/* @media only screen and (device-width : 1024px) and (orientation : portrait)  {
    #zapp-popup iframe
	{   
	    height:500px !important;
	    overflow: hidden;
	     background-color: transparent;
	    border: 0px;
	    border-radius: 0px !important;
	    margin: auto !important;
	    width:90%!important;
	    position: relative;
	    box-sizing: content-box;
	    -moz-box-sizing: content-box;
	    -webkit-box-sizing: content-box; display: block; float:none; margin: 0 auto;
	     left: 4px !important;
	    top: auto !important;
	    bottom: auto !important;
	    right: auto !important;
	    position: relative !important;
	    padding: 0 !important;
	}    
} */
.cover
{
    background-color: #505050;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:fixed;
    top: 0px;
    left: 0px;
}

#zapp-popup.dark {/* padding:0!important; width:180px!important */} 
#zapp-popup {width:100%!important; margin: 0!important; padding-top:5%}
.#zapp-popup .content { width:90%; margin:0 auto}